<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>com.primocys.chat</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Whoxa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>whoxa</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Whoxa Chat uses your camera to capture profile photos, take pictures to share in conversations, and record videos for video messages.</string>
	<key>NSContactsUsageDescription</key>
	<string>Whoxa Chat app needs access to your contacts to connect with your friends.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Whoxa Chat uses your location when you choose to share your current position with friends in a conversation, allowing them to see where you are on a map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Whoxa user need this capability for share location in chat.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Whoxa Chat need microphone access for voice messages and audio calls</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Whoxa Chat app needs access to your photo library to upload photos and videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Whoxa Chat app needs access to save photos and videos to your photo library.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Whoxa Chat app needs to send you notifications for messages, calls, and important updates.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
