# Android Keystore Instructions
#
# To build release APKs, you need to generate a keystore file.
#
# Generate a keystore:
#   keytool -genkey -v -keystore release.keystore -alias release -keyalg RSA -keysize 2048 -validity 10000
#
# Then create key.properties with:
#   storePassword=YOUR_STORE_PASSWORD
#   keyPassword=YOUR_KEY_PASSWORD
#   keyAlias=release
#   storeFile=/path/to/release.keystore
#
# DO NOT commit keystores or key.properties to version control!
